In [2]:
import pandas as pd

El equipo comercial en Argentina de instagram cuenta con información sumarizada de usuarios del pais en el siguiente dataframe (id_usuario, nickname, pais, fecha_alta, cantidad_seguidores, cantidad_seguidos, cantidad_total_publicaciones).
Uno de sus analistas quiere obtener los potenciales 10 usuarios influencers que van a liderar su primera campaña de via publica en el pais y para ello necesita de nuestra ayuda. El criterio para detectar un influencer es que el mismo debe:
    
- Tener una cantidad de seguidores mayor al 80% de la máxima cantidad de seguidores de todos los usuarios dentro de su pais (Por ejemplo, si un usuario es Argentino y el maximo de seguidores en Argentina es 1000 entonces requerira tener al menos 800 seguidores)

- El numero de usuarios que esa persona sigue no debe superar el 15% de la cantidad de seguidores que él tiene.

El criterio final para seleccionar a los candidatos será a partir de la mayor cantidad de seguidores que tengan.

Escribir un programa que pueda obtener esos usuarios.

In [3]:
influencers = pd.read_csv('jugadores.csv')
influencers.head()

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones
0,738179,Cutie,argentina,2019/08/26,3354,3489,3669
1,195586,Hulk,argentina,2019/11/07,2087,4040,2446
2,564110,Smirk,argentina,2018/11/01,5978,360,4831
3,172541,Piglet,argentina,2018/04/26,1472,3451,3277
4,304173,Cold Brew,argentina,2018/04/18,4666,2035,2179

In [7]:
influencers['max_cantidad_seguidores_por_pais']=influencers.groupby('pais')['cantidad_seguidores'].transform('max')
influencers.head(10)

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones,max,max_cantidad_seguidores_por_pais
0,738179,Cutie,argentina,2019/08/26,3354,3489,3669,8849,8849
1,195586,Hulk,argentina,2019/11/07,2087,4040,2446,8849,8849
2,564110,Smirk,argentina,2018/11/01,5978,360,4831,8849,8849
3,172541,Piglet,argentina,2018/04/26,1472,3451,3277,8849,8849
4,304173,Cold Brew,argentina,2018/04/18,4666,2035,2179,8849,8849
5,964821,Lefty,argentina,2019/11/20,1442,2034,3970,8849,8849
6,372234,Creep,argentina,2018/06/19,8690,1244,1023,8849,8849
7,342711,Herp Derp,argentina,2016/06/02,1152,504,3695,8849,8849
8,930478,Wifey,argentina,2016/01/24,4069,1644,3758,8849,8849
11,242647,Ami,argentina,2015/04/10,2078,4058,1516,8849,8849

In [11]:
influencers['supera_cantidad_seguidores'] = (influencers['cantidad_seguidores'] > (0.8*influencers['max_cantidad_seguidores_por_pais']))
influencers.head(10)

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones,max,max_cantidad_seguidores_por_pais,supera_cantidad_seguidores
0,738179,Cutie,argentina,2019/08/26,3354,3489,3669,8849,8849,False
1,195586,Hulk,argentina,2019/11/07,2087,4040,2446,8849,8849,False
2,564110,Smirk,argentina,2018/11/01,5978,360,4831,8849,8849,False
3,172541,Piglet,argentina,2018/04/26,1472,3451,3277,8849,8849,False
4,304173,Cold Brew,argentina,2018/04/18,4666,2035,2179,8849,8849,False
5,964821,Lefty,argentina,2019/11/20,1442,2034,3970,8849,8849,False
6,372234,Creep,argentina,2018/06/19,8690,1244,1023,8849,8849,True
7,342711,Herp Derp,argentina,2016/06/02,1152,504,3695,8849,8849,False
8,930478,Wifey,argentina,2016/01/24,4069,1644,3758,8849,8849,False
11,242647,Ami,argentina,2015/04/10,2078,4058,1516,8849,8849,False

In [13]:
influencers['no_supera_seguidos'] = (influencers['cantidad_seguidos'] <= (0.15*influencers['cantidad_seguidores']))
influencers.head(10)

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones,max,max_cantidad_seguidores_por_pais,supera_cantidad_seguidores,no_supera_seguidos
0,738179,Cutie,argentina,2019/08/26,3354,3489,3669,8849,8849,False,False
1,195586,Hulk,argentina,2019/11/07,2087,4040,2446,8849,8849,False,False
2,564110,Smirk,argentina,2018/11/01,5978,360,4831,8849,8849,False,True
3,172541,Piglet,argentina,2018/04/26,1472,3451,3277,8849,8849,False,False
4,304173,Cold Brew,argentina,2018/04/18,4666,2035,2179,8849,8849,False,False
5,964821,Lefty,argentina,2019/11/20,1442,2034,3970,8849,8849,False,False
6,372234,Creep,argentina,2018/06/19,8690,1244,1023,8849,8849,True,True
7,342711,Herp Derp,argentina,2016/06/02,1152,504,3695,8849,8849,False,False
8,930478,Wifey,argentina,2016/01/24,4069,1644,3758,8849,8849,False,False
11,242647,Ami,argentina,2015/04/10,2078,4058,1516,8849,8849,False,False

In [15]:
influencers_candidatos = influencers[influencers['supera_cantidad_seguidores'] & influencers['no_supera_seguidos']]
influencers_candidatos

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones,max,max_cantidad_seguidores_por_pais,supera_cantidad_seguidores,no_supera_seguidos
6,372234,Creep,argentina,2018/06/19,8690,1244,1023,8849,8849,True,True
28,745872,Teeny,argentina,2016/05/13,7941,56,4182,8849,8849,True,True
46,7888,Ticklebutt,argentina,2016/08/20,7216,1064,3056,8849,8849,True,True
69,655653,Guapo,argentina,2017/11/15,8625,887,2941,8849,8849,True,True
86,121753,Turtle,argentina,2016/03/06,7426,27,4382,8849,8849,True,True
88,475318,Chili,argentina,2017/12/16,8361,1025,3246,8849,8849,True,True

In [17]:
influencers_candidatos.sort_values(by='cantidad_seguidores',ascending=False).head(10)

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones,max,max_cantidad_seguidores_por_pais,supera_cantidad_seguidores,no_supera_seguidos
6,372234,Creep,argentina,2018/06/19,8690,1244,1023,8849,8849,True,True
69,655653,Guapo,argentina,2017/11/15,8625,887,2941,8849,8849,True,True
88,475318,Chili,argentina,2017/12/16,8361,1025,3246,8849,8849,True,True
28,745872,Teeny,argentina,2016/05/13,7941,56,4182,8849,8849,True,True
86,121753,Turtle,argentina,2016/03/06,7426,27,4382,8849,8849,True,True
46,7888,Ticklebutt,argentina,2016/08/20,7216,1064,3056,8849,8849,True,True