In [ ]:
#Un sitio de Ebooks tiene información sobre los reviews que los usuarios hacen de sus libros
#en un DataFrame con formato (user_id, book_id, rating, timestamp). Por otro lado tenemos
#información en otro DataFrame que bajamos de GoodReads: (book_id, book_name,
#avg_rating). Podemos suponer que los Ids de los libros son compatibles.

In [1]:
import pandas as pd

In [2]:
ebooks = pd.read_csv('ebooks.csv')

In [3]:
ebooks.head()

   user_id book_id  rating   timestamp
0        1     A01       7  2020-04-03
1        2     A02       8  2020-01-20
2        3     A03       4  2019-12-23
3        4     B01       6  2020-02-03
4        5     B02       3  2020-04-13

In [6]:
good_reads = pd.read_csv('good_reads.csv')

In [7]:
good_reads.head()

  book_id                                     book_name  avg_rating
0     A01         Fanny Hill: Memorias de una cortesana         9.7
1     A02                              Peregrine Pickle         8.3
2     A03                        Cándido o El optimismo         8.3
3     A04  La historia de Rasselas príncipe de Abisinia         7.6
4     A05                       Julia o La nueva Eloísa         8.4

In [8]:
#Obtener un DataFrame que indique el TOP5 de Ebooks en el sitio de Ebooks.
#(Para este punto se puede ignorar el segundo DataFrame)

In [23]:
ebooks_by_book = ebooks.groupby('book_id').agg({'rating':'mean'}).sort_values('rating',ascending=False).reset_index()

In [24]:
ebooks_by_book.head(5)

  book_id  rating
0     B01     7.5
1     A02     7.0
2     A03     6.5
3     A07     6.0
4     B03     6.0

In [22]:
#Obtener un DataFrame que indique qué libros tienen una diferencia de rating promedio 
#mayor al 20% entre el sitio de Ebooks y GoodReads

In [63]:
ebooks_vs_goodreads = ebooks_by_book.merge(good_reads, on = 'book_id', how = 'inner')

In [64]:
ebooks_vs_goodreads.head()

  book_id  rating                          book_name  avg_rating
0     B01     7.5                 The man of Feeling         7.4
1     A02     7.0                   Peregrine Pickle         8.3
2     A03     6.5             Cándido o El optimismo         8.3
3     A07     6.0             El castillo de Otranto         9.7
4     B03     6.0  Las desventuras del joven Werther         9.7

In [66]:
ebooks_vs_goodreads = ebooks_vs_goodreads.drop(columns={'book_name'})

In [67]:
ebooks_vs_goodreads.set_index('book_id', inplace=True)

In [68]:
ebooks_vs_goodreads.head()

         rating  avg_rating
book_id
B01         7.5         7.4
A02         7.0         8.3
A03         6.5         8.3
A07         6.0         9.7
B03         6.0         9.7

In [69]:
ebooks_vs_goodreads.rename(columns={'rating': 'ebooks_rating', 'avg_rating':'goodreads_rating'}, inplace=True)
ebooks_vs_goodreads

         ebooks_rating  goodreads_rating
book_id
B01                7.5               7.4
A02                7.0               8.3
A03                6.5               8.3
A07                6.0               9.7
B03                6.0               9.7
B06                5.5               7.6
A01                5.0               9.7
B02                5.0               6.9
B08                3.5               9.2

In [72]:
ebooks_vs_goodreads['diff_rating'] = abs(ebooks_vs_goodreads['ebooks_rating'] - ebooks_vs_goodreads['goodreads_rating'])

In [73]:
ebooks_vs_goodreads

         ebooks_rating  goodreads_rating  diff_rating
book_id
B01                7.5               7.4          0.1
A02                7.0               8.3          1.3
A03                6.5               8.3          1.8
A07                6.0               9.7          3.7
B03                6.0               9.7          3.7
B06                5.5               7.6          2.1
A01                5.0               9.7          4.7
B02                5.0               6.9          1.9
B08                3.5               9.2          5.7

In [80]:
rating_diff_gt_20per = ebooks_vs_goodreads[ebooks_vs_goodreads['diff_rating']*100 > 20]

In [81]:
rating_diff_gt_20per.index

Index(['A02', 'A03', 'A07', 'B03', 'B06', 'A01', 'B02', 'B08'], dtype='object', name='book_id')