In [1]:
import pandas as pd

In [2]:
#El dataframe (sales) lista las ventas de productos con los siguientes campos: Dia, Mes, Año,
#ProductID, Importe(USD). Para un mismo dia, mes y año puede venderse n veces el mismo
#producto. Por otro lado tenemos una descripción de los productos en el dataframe (products):
#ProductId, Title, Category, Description. Category puede ser "Men", "Women", "Kids"
#Proponer un programa en Pandas que permita:

In [3]:
#A. Indicar los títulos de los productos de la categoría "Men" para los cuales el Importe de
#venta supera el promedio mensual de ventas de los productos de la misma categoría.
#(por ejemplo si el promedio de Abril de "Men" es 120 dolares y un producto se vendió en
#Abril a 135 dolares lo tenemos que listar). Usar Transform.

In [4]:
productos=pd.read_csv('products.csv')
productos

    productId           title category description
0           1   Remera Blanca      Men       desc1
1           2     Remera Azul    Women       desc2
2           3  Pantalon Cargo      Men       desc3
3           4        Cinturon    Women       desc4
4           5  Vestido Flores     Kids       desc1
5           6  Vestido Blanco     Kids       desc2
6           7         Zapatos      Men       desc3
7           8    Zapatillas 1      Men       desc4
8           9    Zapatillas 2    Women       desc1
9          10       Zapatos 2     Kids       desc2
10         11  Pantalon Cargo    Women       desc1
11         12        Remera 3     Kids       desc1
12         13        Remera 4     Kids       desc1
13         14        Camisa 1      Men       desc5
14         15        Camisa 2    Women       desc4
15         16       Zapatos 3      Men       desc2
16         17       Campera 1    Women       desc1
17         18       Campera 2      Men       desc4
18         19       Campera 3     Kids       desc3
19         20        Sombrero    Women       desc2

In [5]:
sales = pd.read_csv('sales.csv')
sales

    dia  mes  anio  productId  importe(usd)
0     1    5  2020          1            21
1    23    3  2020          8            22
2     3    5  2020          1            34
3    23    3  2020         11            45
4     1    5  2020         14            18
5    23    3  2020         15            11
6     4    4  2020         15            10
7     5    9  2020          4             9
8     6    6  2020          3            12
9     2   12  2020          2            21
10    2    5  2020          1            50
11    4    5  2020          4            30
12    6    6  2020          3            17
13    2   12  2020          2            16
14    4   12  2020          2            21
15    3   12  2020          2            25
16    4   11  2020          4            20
17    1   10  2020          1            14
18    4    5  2020          1            15

In [62]:
productos_y_ventas = productos.merge(sales,on='productId',how='inner')
productos_y_ventas

,productId,title,category,description,dia,mes,anio,importe(usd)
0,1,Remera Blanca,Men,desc1,1,5,2020,21
1,1,Remera Blanca,Men,desc1,3,5,2020,34
2,1,Remera Blanca,Men,desc1,2,5,2020,50
3,1,Remera Blanca,Men,desc1,1,10,2020,14
4,1,Remera Blanca,Men,desc1,4,5,2020,15
5,2,Remera Azul,Women,desc2,2,12,2020,21
6,2,Remera Azul,Women,desc2,2,12,2020,16
7,2,Remera Azul,Women,desc2,4,12,2020,21
8,2,Remera Azul,Women,desc2,3,12,2020,25
9,3,Pantalon Cargo,Men,desc3,6,6,2020,12
10,3,Pantalon Cargo,Men,desc3,6,6,2020,17
11,4,Cinturon,Women,desc4,5,9,2020,9
12,4,Cinturon,Women,desc4,4,5,2020,30
13,4,Cinturon,Women,desc4,4,11,2020,20
14,8,Zapatillas 1,Men,desc4,23,3,2020,22
15,11,Pantalon Cargo,Women,desc1,23,3,2020,45
16,14,Camisa 1,Men,desc5,1,5,2020,18
17,15,Camisa 2,Women,desc4,23,3,2020,11
18,15,Camisa 2,Women,desc4,4,4,2020,10

In [7]:
productos_y_ventas['promedio_x_categoria'] = productos_y_ventas.groupby('category')['importe(usd)'].transform('mean')
productos_y_ventas

,productId,title,category,description,dia,mes,anio,importe(usd),promedio_x_categoria
0,1,Remera Blanca,Men,desc1,1,5,2020,21,22.555556
1,1,Remera Blanca,Men,desc1,3,5,2020,34,22.555556
2,1,Remera Blanca,Men,desc1,2,5,2020,50,22.555556
3,1,Remera Blanca,Men,desc1,1,10,2020,14,22.555556
4,1,Remera Blanca,Men,desc1,4,5,2020,15,22.555556
5,2,Remera Azul,Women,desc2,2,12,2020,21,20.800000
6,2,Remera Azul,Women,desc2,2,12,2020,16,20.800000
7,2,Remera Azul,Women,desc2,4,12,2020,21,20.800000
8,2,Remera Azul,Women,desc2,3,12,2020,25,20.800000
9,3,Pantalon Cargo,Men,desc3,6,6,2020,12,22.555556
10,3,Pantalon Cargo,Men,desc3,6,6,2020,17,22.555556
11,4,Cinturon,Women,desc4,5,9,2020,9,20.800000
12,4,Cinturon,Women,desc4,4,5,2020,30,20.800000
13,4,Cinturon,Women,desc4,4,11,2020,20,20.800000
14,8,Zapatillas 1,Men,desc4,23,3,2020,22,22.555556
15,11,Pantalon Cargo,Women,desc1,23,3,2020,45,20.800000
16,14,Camisa 1,Men,desc5,1,5,2020,18,22.555556
17,15,Camisa 2,Women,desc4,23,3,2020,11,20.800000
18,15,Camisa 2,Women,desc4,4,4,2020,10,20.800000

In [8]:
productos_y_ventas[(productos_y_ventas['category'] == 'Men') & (productos_y_ventas['importe(usd)'] > productos_y_ventas['promedio_x_categoria'])].title.unique()

array(['Remera Blanca'], dtype=object)

In [9]:
#B. Indicar el top-10 de productos que se vendieron mayor cantidad de días de forma
#consecutiva.

In [11]:
#productos_y_ventas.drop(columns=['category','description','promedio','importe(usd)','promedio_x_categoria'],inplace=True)

In [63]:
productos_y_ventas=productos_y_ventas.rename(columns={'anio':'year','mes':'month','dia':'day'})
productos_y_ventas['fecha']=pd.to_datetime(productos_y_ventas[['year','month','day']])
productos_y_ventas.drop(columns=['day','month','year'],inplace=True)

In [64]:
productos_y_ventas.drop(columns=['category','description','importe(usd)','promedio_x_categoria'],inplace=True)

KeyError: "['promedio_x_categoria'] not found in axis"

In [65]:
productos_y_ventas

    productId           title category description  importe(usd)      fecha
0           1   Remera Blanca      Men       desc1            21 2020-05-01
1           1   Remera Blanca      Men       desc1            34 2020-05-03
2           1   Remera Blanca      Men       desc1            50 2020-05-02
3           1   Remera Blanca      Men       desc1            14 2020-10-01
4           1   Remera Blanca      Men       desc1            15 2020-05-04
5           2     Remera Azul    Women       desc2            21 2020-12-02
6           2     Remera Azul    Women       desc2            16 2020-12-02
7           2     Remera Azul    Women       desc2            21 2020-12-04
8           2     Remera Azul    Women       desc2            25 2020-12-03
9           3  Pantalon Cargo      Men       desc3            12 2020-06-06
10          3  Pantalon Cargo      Men       desc3            17 2020-06-06
11          4        Cinturon    Women       desc4             9 2020-09-05
12          4        Cinturon    Women       desc4            30 2020-05-04
13          4        Cinturon    Women       desc4            20 2020-11-04
14          8    Zapatillas 1      Men       desc4            22 2020-03-23
15         11  Pantalon Cargo    Women       desc1            45 2020-03-23
16         14        Camisa 1      Men       desc5            18 2020-05-01
17         15        Camisa 2    Women       desc4            11 2020-03-23
18         15        Camisa 2    Women       desc4            10 2020-04-04

In [66]:
productos_y_ventas = productos_y_ventas.sort_values(by='fecha', ascending=True)
productos_y_ventas

    productId           title category description  importe(usd)      fecha
15         11  Pantalon Cargo    Women       desc1            45 2020-03-23
14          8    Zapatillas 1      Men       desc4            22 2020-03-23
17         15        Camisa 2    Women       desc4            11 2020-03-23
18         15        Camisa 2    Women       desc4            10 2020-04-04
16         14        Camisa 1      Men       desc5            18 2020-05-01
0           1   Remera Blanca      Men       desc1            21 2020-05-01
2           1   Remera Blanca      Men       desc1            50 2020-05-02
1           1   Remera Blanca      Men       desc1            34 2020-05-03
4           1   Remera Blanca      Men       desc1            15 2020-05-04
12          4        Cinturon    Women       desc4            30 2020-05-04
10          3  Pantalon Cargo      Men       desc3            17 2020-06-06
9           3  Pantalon Cargo      Men       desc3            12 2020-06-06
11          4        Cinturon    Women       desc4             9 2020-09-05
3           1   Remera Blanca      Men       desc1            14 2020-10-01
13          4        Cinturon    Women       desc4            20 2020-11-04
6           2     Remera Azul    Women       desc2            16 2020-12-02
5           2     Remera Azul    Women       desc2            21 2020-12-02
8           2     Remera Azul    Women       desc2            25 2020-12-03
7           2     Remera Azul    Women       desc2            21 2020-12-04

In [67]:
#(lo saqué de la internet) primero agrupo por productId calculando la diferencia entre fechas. La diferencia
#vuelve en formato datetime asi que me quedo con los dias.. los que no tienen diferencia porque hay un unico valor
#le asigno un 1 (un solo dia consecutivo). ne(1) devuelve True si el valor de la serie es distinto de uno (si no false)
#a los q no son iguales a 1 (o sea que no son consecutivos) se les calcula la suma acumulativa
#entonces dentro de cada productId, los que son dias consecutivos van a tener el mismo valor "s", los demás no (van
#a tener valores crecientes). Lo de recién sería como una columna nueva, ahora si agrupo por productId y por la 
#nueva columna, haciendo size() obtengo la cantidad de dias consecutivos para cada productId. Size calcula el 
#tamaño de cada grupo
s = productos_y_ventas.groupby('productId').fecha.diff().dt.days.fillna(1).ne(1).cumsum()
productos_y_ventas.groupby(['productId', s]).size().reset_index(level=1, drop=True).sort_values(ascending=False).head(10)

productId
1     4
2     3
15    1
15    1
14    1
11    1
8     1
4     1
4     1
4     1
dtype: int64